/* IMPORTANDO FONTES LOCAIS */
@font-face {
    font-family: 'Poppins regular';
    src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins semibold';
    src: url('/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins bold';
    src: url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}


/* RESET DAS CONFIGURAÇÕES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
    scroll-behavior: smooth;
}

i {
    font-size: 6em;
}


/* VARIAVEIS */
:root {
    /* FONTS */
    --fonte-padrao: "Poppins regular", sans-serif;
    --fonte-semibold: "Poppins semibold", sans-serif;
    --fonte-bold: "Poppins bold", sans-serif;
    --tamanho-padrao: 1em;
    --tamanho-de-paragrafo: 1.2em;
    --tamanho-padrao-titulo: 1.8em;
    --tamanho-titulo-grande: 3em;

    /* CORES */
    --cor-de-fundo: to right, #360745, #40005C, #360452;
    --cor-link-hover: #360452;
    --cor-titulo-h1-home: #ED1850;
    --cor-padrao-de-letra: #ffff;
    --divisor-1: 90deg, transparent, #D6004D, #F70C20; 
    --divisor-2: 90deg, #F70C20, #D6004D, transparent; 
}


/* CONFIGURAÇÃO DO CORPO DA PAGINA */
body {
    background-image: linear-gradient(var(--cor-de-fundo));
    overflow-x: hidden;
}


/* ANIMAÇÕES */
@keyframes MoveToRight {
    from {
        transform: translateX(-15%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes MoveToLeft {
    from {
        transform: translateX(15%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes textAnimation {
    from {
        color: #b83457;
    }

    to {
        color: #ED1850;
    }
}


/* CONFIGURAÇÃO DO CABEÇALHO */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;

    width: 100vw;
    padding: 30px 100px 10px 100px;
    background: linear-gradient(var(--cor-de-fundo));
}

header img {
    width: 300px;
    cursor: pointer;
    animation-name: MoveToRight;
    animation-duration: 0.5s;
}

nav ul {
    display: flex;
    animation-name: MoveToLeft;
    animation-duration: 0.3s;
}

header nav ul li {
    display: inline-block;
    font-size: var(--tamanho-padrao);
    margin-left: 30px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    padding: 7px;
    color: var(--cor-padrao-de-letra);
    border-radius: 30px;
    text-transform: uppercase;
}

header nav ul li a:hover,
header nav ul li a.active {
    background-color: var(--cor-padrao-de-letra);
    color: var(--cor-link-hover);
}

#header.scroll {
    border-bottom: 1px solid white;
}

/* CONFIGURAÇÃO PADRÃO DAS SECÇÕES */
main section {
    position: relative;
    padding: 100px;
    padding-top: 220px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--tamanho-padrao);
    color: var(--cor-padrao-de-letra);
    text-align: left;
}

main section .textBox {
    max-width: 700px;
    transition: 0.7s;
    transition-property: transform;
    
}

main section .textBox h1 {
    animation-name: MoveToRight;
    animation-duration: 0.2s;
}

main section .textBox p {
    font-size: var(--tamanho-de-paragrafo);
    animation-name: MoveToRight;
    animation-duration: 0.5s;
}

main section .textBox p strong {
    color: var(--cor-padrao-de-letra); 
    font-family: var(--fonte-bold);
}

main section .imgBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 60%;
    transition: 0.2s;    
}

main section .imgBox img {
    width: 250px;
    animation-duration: 0.7s;
}

main section .imgBox:hover {
    transform: scale(1.1);
}


/* CONFIGURAÇÃO DA SECÇÃO HOME */
main section#home .textBox h1 {
    font-family: var(--fonte-bold);
    text-transform: uppercase;
    font-size: var(--tamanho-padrao-titulo);
    color: var(--cor-titulo-h1-home);
    text-shadow: 2px 2px 2px black;

}

main section#home .textBox h1 span {
    color: var(--cor-padrao-de-letra);
    text-transform: none;
    font-variant: small-caps;
    font-size: var(--tamanho-titulo-grande);

}

main section#home .imgBox p {
    color: var(--cor-padrao-de-letra);
    font-size: 1.3em;
    font-family: var(--fonte-semibold);
    animation-name: MoveToLeft;
    animation-duration: 0.3s;
    animation-iteration-count: unset;

}

main section#home .imgBox img {
    border-radius: 200px;
    animation-name: MoveToLeft;
}


/* DIVISOR DAS SECÇÕES 1 */
div.divider-1 {
    height: 1px;
    background-image: linear-gradient(var(--divisor-1));
}

div.divider-2 {
    height: 1px;
    background-image: linear-gradient(var(--divisor-2));
}

/* CONFIGURAÇÃO DA SECÇÃO ABOUT */
main section#about .imgBox img {
    width: 300px;
    animation-name: MoveToRight;
}

main section#about .textBox p {
    animation-name: MoveToLeft;
}


/* CONFIGURAÇÃO DA SECÇÃO SERVICES */
main section#services {
    flex-direction: column;
    padding-top: 150px;
}

main section#services p {
    font-size: 1.3em;
    text-transform: uppercase;
}

main section#services p strong {
    color: var(--cor-titulo-h1-home);
    text-shadow: 2px 2px 2px black;
}

main section#services img{
    width: 17vw;
    transition: 0.2s;
    transition-duration: transform;
}


/* SWIPER */  
.swiper-container {
    width: 75vw;
    height: auto;
}

.swiper-wrapper {
    width: 25%;
    padding-bottom: 3em;
    align-items: center;
}

.swiper-slide {
    opacity: 0.1;
    transform: scale(0.8);
    width: 25vw;
}

.swiper-wrapper .swiper-slide-next,
.swiper-wrapper .swiper-slide-next img {
    transition: 0.2s;
}

.swiper-wrapper .swiper-slide-next {
    opacity: 1;
    transform: scale(0.9);
}

.swiper-wrapper .swiper-slide-next:hover {
    transform: scale(1);
}

main section#services .swiper-pagination-bullet-active {
    background: var(--cor-titulo-h1-home);
}

main section#services .swiper-pagination-bullet-active,
.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 30px;
}


/* CONFIGURAÇÃO DA SECÇÃO CONTACT */
main section#contact {
    flex-direction: column;
}

main section#contact a {
    text-decoration: none;
    color: white;
}

main section#contact .social-media {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

main section#contact .social-media a {
    transition: 0.2s;
}

main section#contact .social-media a:hover {
    transform: translateY(-15%);
}

main section#contact .others ul {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

main section#contact .others ul li {
    list-style: none;
    font-family: var(--fonte-semibold);
}

main section#contact .others i {
    font-size: 1.5em;
}

@media (max-width: 1050px) {
    :root {
        /* FONTS */
        --tamanho-padrao: 1em;
        --tamanho-de-paragrafo: 1em;
        --tamanho-padrao-titulo: 1.5em;
        --tamanho-titulo-grande: 2em;

    }

    main section {
        padding-left: 70px;
        padding-right: 70px;
    }

    main section .textBox {
        width: 500px;
        
    }

    #header img {
      width: 250px;
    }

}

@media (max-width: 990px) {
    main section#about {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 150px;
    }

    main section#about .imgBox img {
        width: 250px;
        margin-bottom: 40px;
    }

    main section#about .textBox {
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 930px) {
    #header nav {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}

@media (max-width: 890px) {
    main section#contact {
        padding-top: 180px;
    }

    main section#contact .social-media {
        margin-top: 50px;
    }

    main section#contact .others {
        margin-top: 50px;
    }
    main section#contact .others ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}

@media (max-width: 690px) {
    #header {
        justify-content: center;
        align-items: center;
    }

    #header img {
        width: 200px;
    }

    main section#about .imgBox img {
        width: 175px;
    }

    main section#home {
        padding-right: 100px;
        padding-left: 100px;
        padding-top: 100px;
        flex-direction: column;
        justify-content: start;
    }

    main section#home .textBox {
        padding: 50px;
    }

    main section#home h1 span,
    main section#home .imgBox p {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    main section#home img {
        width: 150px;
    }

    main section#contact h1 {
        font-size: 1.2em;
        text-align: center;
    }

    .swiper-wrapper {
        width: 40%;
        align-items: center;
    }

    #services .swiper-wrapper img {
        width: 100%;
    }

    #services .swiper-wrapper .swiper-slide {
        opacity: 1;
    }
    
    main section#services {
        padding-top: 100px;
    }

    main section#services .swiper-pagination {
        display: none;
    }

    main section#contact h1 {
        font-size: 1em;
    }
}