@font-face {
    font-family: 'Poppins regular';
    src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins semibold';
    src: url('/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins bold';
    src: url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins regular", sans-serif;
}

body {
    background: linear-gradient(to right, #360745, #40005C, #360452);
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10000;
    background: linear-gradient(to right, #360745, #40005C, #360452);
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px 10px 100px;
}
 
header img {
    width: 300px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    display: inline-block;
    font-size: 1.2em;
    margin-left: 30px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    padding: 7px;
    color: #fff;
    border-radius: 30px;
    text-transform: uppercase;
}

header nav ul li a:hover {
    background-color: #fff;
    color: #360452;
}

main section {
    position: relative;
    margin-top: 70px;
    padding: 0 100px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main section .textBox {
    max-width: 700px;
}

main section#home .textBox h1 {
    font-family: "Poppins bold";
    text-transform: uppercase;
    font-size: 1.8em;
    color: #ED1850;
}

main section#home .textBox h1 span {
    color: #fff;
    text-transform: none;
    font-variant: small-caps;
    font-size: 3em;
    transition: 0.5s;
}

main section#home .textBox h1 span:hover {
}

main section .textBox p {
    color: #fff; 
    font-family: "Poppins regular";
    font-size: 1.2em;
    text-align: left;
}

main section .textBox p strong {
    color: #fff; 
    font-family: "Poppins bold";
}

main section .imgBox {
    transform: scale(0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform;
    border-radius: 60%;
    background-image: linear-gradient(#D6004D, #ED1850, transparent, transparent);
    transition: 0.2s;
}

main section .imgBox:hover {
    transform: scale(1);
}

main section#home .imgBox p {
    color: #fff;
    font-size: 1.3em;
    font-family: "Poppins semibold";

}

main section#home .imgBox img {
    width: 300px;
    border-radius: 200px;
}

div.divider-1 {
    height: 1px;
    background-image: linear-gradient(90deg, #F70C20, #D6004D, transparent);
}

main section#about {
    height: 100vh;
    margin-bottom: 0;
}

main section#about .imgBox {
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

main section#about .imgBox img {
    width: 150px;
    position: relative;
    left: 16px
}

main section#about .textBox p {
    color: #ffff;
}